# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
env/
venv/
env.bak/
venv.bak/

# Distribution / Build
dist/
build/

# Testing / Coverage
.coverage
htmlcov/
.pytest_cache/

# mypy
.mypy_cache/

# ruff
.ruff_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
.pypirc
.env
.venv
